<div class="inicio">
  <div class="container">
    <div class="row">
      <div class="col-6 my-5">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              ><i class="bi bi-person-circle"></i> Natalia Nova
            </mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="https://i.ibb.co/HNFndpZ/Avatar.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Visita mi página de
              <a
                class="text-reset fw-bold"
                href="https://github.com/NataliaNova"
                target="_blank"
                >GitHub <i class="bi bi-github"></i
              ></a>
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
