<div *ngIf="mensaje_select">
  <div
    class="alert alert-info alert-dismissible fade show text-center"
    role="alert"
  >
    <strong>{{ mensaje_select }} <i class="bi bi-calendar-check"></i></strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>

<div class="container">
  <div class="row my-4">
    <div class="col-6">
      <p class="lead">
        ¿Te ha gustado mi taller? Puedes agendar una cita y así hablar sobre
        Angular.
      </p>
    </div>
    <div class="col-6">
      <mat-form-field>
        <input matInput [matDatepicker]="myDatePicker" />

        <mat-datepicker-toggle
          [for]="myDatePicker"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
      </mat-form-field>
      <input
        type="Button"
        value="Seleccionar fecha"
        class="btn btn-info m-3"
        (click)="seleccionar()"
      />
    </div>
  </div>
</div>
